[Unit]
Description=Simple key-value store
After=network.target
Documentation=man:cik(1)

[Service]
Type=notify
ExecStart=/usr/bin/cik /etc/cik/cik.conf
ExecStartPre=-mkfifo /var/log/cik/cik-server.log
ExecStopPost=-rm /var/log/cik/cik-server.log
PIDFile=/run/cik/cik-server.pid
Restart=always
User=cik
Group=cik
ProtectSystem=full
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/cik
ReadWriteDirectories=-/var/log/cik
ReadWriteDirectories=-/run/cik

[Install]
WantedBy=multi-user.target
