[Unit]
Description=Simple key-value store
After=network.target
Documentation=man:cik(1)

[Service]
Type=notify
ExecStart=/usr/local/bin/cik /etc/cik/cik.conf
ExecStartPre=-mkfifo /tmp/cik-server.log
ExecStopPost=-rm /tmp/cik-server.log
PIDFile=/tmp/cik-server.pid
Restart=always
User=1000
Group=1000
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=multi-user.target
